.editor-pane {
    min-height: 360px;
}

.wrapper-class {
    min-height: 340px;
}

.editor-class {
    min-height: 330px;
    background-color: white;
    border: 1px solid #F1EEEE;
}

.amplify-heading--6 {
    margin: 10px 0;
}

.assemble-content .amplify-field, .assemble-content .amplify-text {
    margin-top: 5px;
    font-size: 0.9em;
}

.assemble-content .amplify-input {
    font-size: 0.8em;
    padding: 1px 6px;
}

.assemble-content .amplify-select {
    font-size: 0.9em;
}

.assemble-content .amplify-expander {
    border-radius: 0;
    border: 0px;
    background-color: #f9f9f9;
}

.assemble-content .amplify-expander__trigger {
    color: rgb(245, 102, 0);
}

pre {
    font-family: inherit;
    overflow: auto;
    padding: 10px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}