.Home {
    margin: 0 auto;
}

.user-details {
    min-height: 400px;
}

.input-form {
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.input-form > * {
    margin: 10px 0 !important;
    width: 100%;
}