.Home {
    margin: 0 auto;
}

.user-details {
    min-height: 300px;
}

.page-intro {
    text-align: center;
    width: 80%;
    margin: 20px auto 5px auto;
    font-size: 20px;
}

.input-form {
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.input-form>* {
    margin: 10px 0 !important;
    width: 100%;
}

.user-details-grid {
    width: 50% !important;
    margin: 0 auto !important;
}

.user-details-grid>.attr-name {
    text-align: right;
}

.user-details-grid>.attr-value {
    font-weight: 700;
}